---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Navigation.astro';
const allPosts = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Mes Projets";
const pageDescription = "Explorez le monde du design de produits et du développement avec Paul Mazeau. Plongez dans mes aventures de design, développement et découvertes sur mon blog dédié à l'innovation et à la créativité.";
import '../styles/blog.css'

// Trier les posts par ordre de priorité défini, puis par titre si la priorité est égale
const sortedPosts = allPosts.sort((a, b) => {
  return a.frontmatter.priority - b.frontmatter.priority || a.frontmatter.title.localeCompare(b.frontmatter.title);
});
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="content">
    <Header/>
    <h1>Mes projets</h1>
    <ul class="articles-list">
      {sortedPosts.map((post) => (
        <li class="article">
          <a href={post.url} class="article-title">
            <div class="image-container">
              <img src={post.frontmatter.thumbnail} alt={`Thumbnail for ${post.frontmatter.title}`} class="article-image"/>
            </div>
            <span class="article-title"> {post.frontmatter.title}</span>
            <span class="article-description"> {post.frontmatter.description}</span>
          </a>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
