---
import BaseLayout from './BaseLayout.astro';
import '../styles/blogpost.css'
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
  <div class="content">
  <div class="content-left-align">
    <img src={frontmatter.thumbnail} width="100%" alt={frontmatter.image.alt} class="main-img" />

    <h1>{frontmatter.title}</h1>
    <p>Ecris par: {frontmatter.author} le {frontmatter.pubDate.slice(0,10)}</p>
    <div class="tags">
      <p>Tags : </p>
      {frontmatter.tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <p class="description">{frontmatter.description}</p>
    <slot class="content"/>
  </div>
</div>
</BaseLayout>

